<div class="recent-orders">
    <h2>Lista de Libros suscritos</h2>
    <table class="min-w-full divide-y divide-gray-200 border border-gray-300">

        <thead style="background-color: var(--color-background);">
            <tr>
                <th>ID</th>
                <th>Portada</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Fecha de publicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="book-table-body" style="text-align: center;">
            <!-- Aquí van los libros con JavaScript -->
            <tr>
                <td>1</td>
                <td><img src="images/profile-1.jpg" alt="portada" style="width: 50px; height: auto; border-radius: 4px; display: block; margin: 0 auto;"></td>
                <td>El Principito</td>
                <td>Antoine de Saint-Exupéry</td>
                <td>Ficción</td>
                <td>06/04/1943</td>
                <td>
                    <div style="display: flex; flex-direction: column; gap: 6px;">
                        <button title="Ver" style="background: none; color: #2196F3; border: none; padding: 6px;">
                        <i class="bi bi-hand-thumbs-up" style="font-size: 1.2rem;"></i>
                        </button>
                        <button title="Eliminar" style="background: none; color: #F44336; border: none; padding: 6px;">
                        <i class="bi bi-hand-thumbs-down" style="font-size: 1.2rem;"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><img src="images/profile-1.jpg" alt="portada" style="width: 50px; height: auto; border-radius: 4px; display: block; margin: 0 auto;"></td>
                <td>El Principito</td>
                <td>Antoine de Saint-Exupéry</td>
                <td>Ficción</td>
                <td>06/04/1943</td>
                <td>
                    <div style="display: flex; flex-direction: column; gap: 6px;">
                        <button title="Ver" style="background: none; color: #2196F3; border: none; padding: 6px;">
                        <i class="bi bi-hand-thumbs-up" style="font-size: 1.2rem;"></i>
                        </button>
                        <button title="Eliminar" style="background: none; color: #F44336; border: none; padding: 6px;">
                        <i class="bi bi-hand-thumbs-down" style="font-size: 1.2rem;"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>